h1{
    color:rgb(190, 102, 117);
    text-align:center;
}

.p-r{
    text-align:center
}


.p-l{
    text-align: center;
}


.li-1{
    margin-right: 30px;
    color: purple;
}
.li-2{
    margin-right: 30px;
    color: purple;
}
.li-3{
    margin-right: 30pxpx;
    color: purple;
}


